<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8h6B1sf08ya2E4pcqvI3iLRSDbGfrm88</string>
	<key>GCM_SENDER_ID</key>
	<string>633070267511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoCleanBloc</string>
	<key>PROJECT_ID</key>
	<string>kitafit-ba016</string>
	<key>STORAGE_BUCKET</key>
	<string>kitafit-ba016.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633070267511:ios:10548f8b163671cb7a2a72</string>
</dict>
</plist>