<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMedUfCfpoCkAXH7bbZd_7r3-vicGeS2A</string>
	<key>GCM_SENDER_ID</key>
	<string>732705692282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoCleanBloc</string>
	<key>PROJECT_ID</key>
	<string>kitafit-c0a1e</string>
	<key>STORAGE_BUCKET</key>
	<string>kitafit-c0a1e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732705692282:ios:338fd351892da44ba439c3</string>
</dict>
</plist>